#
# torii config for profile [dev]
#
world_address = "0x03b6f87f3ee07a25d8925629305eb63e094dc57d1ac974b698db29e66036fd62"
rpc = "http://127.0.0.1:5050"

[events]
raw = true

[sql]
historical = [
  # "pistols-TrophyProgression",
]

# [grpc]
# subscription_buffer_size = 10000

[indexing]
world_block = 1
# blocks_chunk_size = 10240 # default: 10240
# max_concurrent_tasks = 40
transactions = true
controllers = true
pending = true
contracts = [
  "erc721:0x5b245f13551855c72f15f14c6a5d1e5ecec8b7d3fc7eab7029bd5726e2a2e2", # game_token
]
